In [1]:
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold, cross_val_score

In [2]:
result=pd.read_csv("result.csv")

In [3]:
result

,Unnamed: 0,payFrequency,apr,originated,nPaidOff,approved,isFunded,loanStatus,loanAmount,originallyScheduledPaymentAmount,...,leadCost,Application_Year,Application_Month,installmentIndex,isCollection,principal,fees,paymentAmount,paymentStatus,hasCF
0,1,0,199.0,1,0.0,1,1.0,1,3000.0,6395.19,...,0.0,2016,1,1.0,0,151.98,114.49,266.47,1,1.0
1,2,0,199.0,1,0.0,1,1.0,1,3000.0,6395.19,...,0.0,2016,1,2.0,0,49.08,217.39,266.47,1,1.0
2,3,0,199.0,1,0.0,1,1.0,1,3000.0,6395.19,...,0.0,2016,1,3.0,0,52.83,213.64,266.47,1,1.0
3,4,0,199.0,1,0.0,1,1.0,1,3000.0,6395.19,...,0.0,2016,1,4.0,0,56.86,209.61,266.47,1,1.0
4,5,0,199.0,1,0.0,1,1.0,1,3000.0,6395.19,...,0.0,2016,1,5.0,0,61.20,205.27,266.47,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525032,1220893,1,645.0,1,0.0,1,1.0,1,300.0,1034.38,...,6.0,2016,12,23.0,0,21.85,17.38,39.23,0,1.0
525033,1220894,1,645.0,1,0.0,1,1.0,1,300.0,1034.38,...,6.0,2016,12,24.0,0,24.56,14.67,39.23,0,1.0
525034,1220895,1,645.0,1,0.0,1,1.0,1,300.0,1034.38,...,6.0,2016,12,25.0,0,27.59,11.64,39.23,0,1.0
525035,1220896,1,645.0,1,0.0,1,1.0,1,300.0,1034.38,...,6.0,2016,12,26.0,0,31.01,8.22,39.23,0,1.0
525036,1220897,1,645.0,1,0.0,1,1.0,1,300.0,1034.38,...,6.0,2016,12,27.0,0,35.46,4.39,39.85,0,1.0

In [28]:
result.drop("approved",axis=1,inplace=True)
result.drop("originated",axis=1,inplace=True)

In [29]:
result_1=result[result["isFunded"]==1]

In [30]:
X = result.drop('isFunded',axis=1)
y = result[['isFunded']]

In [31]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=123)

In [32]:
test=pd.concat([X_test, y_test], axis=1)

In [33]:
result_0=result[result["isFunded"]==0]

In [34]:
result_0

,Unnamed: 0,payFrequency,apr,nPaidOff,isFunded,loanStatus,loanAmount,originallyScheduledPaymentAmount,state,leadType,leadCost,Application_Year,Application_Month,installmentIndex,isCollection,principal,fees,paymentAmount,paymentStatus,hasCF
593,1408,0,680.0,0.0,0.0,6,500.0,1593.68,3,1,75.0,2015,8,1.0,0,500.00,0.00,500.00,1,1.0
594,1409,0,680.0,0.0,0.0,6,500.0,1593.68,3,1,75.0,2015,8,2.0,0,30.34,102.47,132.81,0,1.0
595,1410,0,680.0,0.0,0.0,6,500.0,1593.68,3,1,75.0,2015,8,3.0,0,10.31,122.50,132.81,0,1.0
596,1411,0,680.0,0.0,0.0,6,500.0,1593.68,3,1,75.0,2015,8,4.0,0,13.00,119.81,132.81,0,1.0
597,1412,0,680.0,0.0,0.0,6,500.0,1593.68,3,1,75.0,2015,8,5.0,0,16.39,116.42,132.81,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524476,1219499,0,645.0,0.0,0.0,5,400.0,1286.15,13,1,6.0,2017,1,9.0,0,32.77,66.17,98.94,0,1.0
524477,1219500,0,645.0,0.0,0.0,5,400.0,1286.15,13,1,6.0,2017,1,10.0,0,40.87,58.07,98.94,0,1.0
524478,1219501,0,645.0,0.0,0.0,5,400.0,1286.15,13,1,6.0,2017,1,11.0,0,50.98,47.96,98.94,0,1.0
524479,1219502,0,645.0,0.0,0.0,5,400.0,1286.15,13,1,6.0,2017,1,12.0,0,63.60,35.34,98.94,0,1.0
524480,1219503,0,645.0,0.0,0.0,5,400.0,1286.15,13,1,6.0,2017,1,13.0,0,79.26,19.61,98.87,0,1.0

In [35]:
final=pd.concat([result_0, test], axis=0)

In [36]:
final.to_csv("new_cl_result.csv")

In [37]:
final.isna().sum()

Unnamed: 0                          0
payFrequency                        0
apr                                 0
nPaidOff                            0
isFunded                            0
loanStatus                          0
loanAmount                          0
originallyScheduledPaymentAmount    0
state                               0
leadType                            0
leadCost                            0
Application_Year                    0
Application_Month                   0
installmentIndex                    0
isCollection                        0
principal                           0
fees                                0
paymentAmount                       0
paymentStatus                       0
hasCF                               0
dtype: int64

In [ ]:
payment=pd.read_csv("payment.csv")

In [38]:
loan=pd.read_csv("loan.csv")

In [41]:
loan.drop("isFunded",axis=1,inplace=True)

In [45]:
loan.rename(columns={"hasCF":"isFunded"},inplace=True)

In [47]:
loan.to_csv("payment.csv")

In [49]:
df=pd.read_csv(r"D:\Pyn\online learning\NURAN_DATA\FSDS_September\TEST_WORK\STOCKS\DATA ANALYSIS\DS Assessment\result.csv")

In [51]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [53]:
df.drop("isFunded",axis=1,inplace=True)

In [55]:
df.rename(columns={"hasCF":"isFunded"},inplace=True)

In [56]:
df.dtypes

payFrequency                          int64
apr                                 float64
originated                            int64
nPaidOff                            float64
approved                              int64
loanStatus                            int64
loanAmount                          float64
originallyScheduledPaymentAmount    float64
state                                 int64
leadType                              int64
leadCost                            float64
Application_Year                      int64
Application_Month                     int64
installmentIndex                    float64
isCollection                          int64
principal                           float64
fees                                float64
paymentAmount                       float64
paymentStatus                         int64
isFunded                            float64
dtype: object

In [57]:
df.isna().sum()

payFrequency                        0
apr                                 0
originated                          0
nPaidOff                            0
approved                            0
loanStatus                          0
loanAmount                          0
originallyScheduledPaymentAmount    0
state                               0
leadType                            0
leadCost                            0
Application_Year                    0
Application_Month                   0
installmentIndex                    0
isCollection                        0
principal                           0
fees                                0
paymentAmount                       0
paymentStatus                       0
isFunded                            0
dtype: int64

In [58]:
df.to_csv("new_final.csv",index=False)